body, html {
	overflow: hidden;
}
poem {
	position: absolute;
	text-align: center;
	display: block;
	font-size: 30px;
	white-space: nowrap;
	z-index: 100;
}
poem word {
	display: inline-block;
	visibility: hidden;
	opacity: 0.0;
	cursor: pointer;
}
explosion {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;

}

h1.title {
	width: 100%;
	text-align: center;
	display: none;
	font-size: 30px;
}
#tulips_explosion {
	width: 10000px;
	overflow: hidden;
	white-space: nowrap;
}
#tulips_explosion callout {
	display: block;
	position: absolute;
	display: none;
	font-size: 20px;
	color: #AAA;
	
}
#tulips_explosion word {
	font-size: 48px;
	display: block;
	padding: 30px;
	display: inline-block;
	cursor: default;
	color: #777;
	position: relative;
}
#tulips_explosion word.current {
	color: #000;
}

#red_explosion word {
	background-color: transparent;
	text-align: center;
	position: absolute;
	font-size: 18px;
	cursor: default;
	min-width: 80px;
	padding: 10px;
}
#red_explosion word.center {
	font-size: 40px;
}

#red_explosion word tails, #red_explosion word possible_tails {
	display: none;
	/* mouse-event pass through */
	pointer-event: pass-through;
}
#red_explosion word heads, #red_explosion word tails {
	position: absolute;
	left: 0px;
	text-align: center;
	width: 100%;
}


#softly_explosion line {
	position: absolute;
	opacity: 0.0;
	color: #000;
	font-size: 24px;
	width: 500px;

}