{% extends "base.html" %}{% load compress %}

{% block head %}encore - a digital poem{% endblock %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/fonts.css">
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/site.css">
{% endcompress %}
{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}main_site/js/site.js"></script>
{% endcompress %}
{% endblock %}


{% block content %}

<h1 class="title">encore</h1>

<poem>
	<word class="tulips" id="poem_word_tulips">tulips,</word>
	<word class="red" id="poem_word_red">red</word>
	<br/>
	<word class="softly" id="poem_word_softly">softly</word>
	<word class="wilted" id="poem_word_wilted">wilted</word>
</poem>

<explosion id="tulips_explosion">

	<word callout_id="fold">fold<callout callout_id="fold">
	</callout>
	</word>

	<word callout_id="fall">fall<callout callout_id="fall" class="below">
		not even <br/>
		the wind<br/>
		<br/>
		just a stem<br/>
		now to weak <br/>
		to hold<br/>
		its prize
	</callout>
	</word>

	<word callout_id="tiny_teeth">tiny teeth<callout callout_id="tiny_teeth">
	</callout>
	</word>

	<word callout_id="bacteria">bacteria<callout callout_id="bacteria">
		carried through warm and cold
	</callout>
	</word>

	<word callout_id="mold">mold<callout callout_id="mold">
	</callout>
	</word>

	<word callout_id="mycelium">mycelium<callout callout_id="mycelium" class="below">
		steals away<br/>
		the last essence<br/>
		undertakers and midwives <br/>
		of the underground
	</callout>
	</word>

	<word callout_id="heat">summer heat<callout callout_id="heat">
		eighty eight<br/>
		bakes out<br/>
		the last color<br/>
		the last red<br/>
		now brown
	</callout>
	</word>

	<word callout_id="soil_1" id="soil_1">soil<callout callout_id="soil_1">
		a dead worm<br/>
		47 dead flowers<br/>
		327 blades of grass
	</callout>
	</word>
	<word callout_id="mycelia">mycelia<callout callout_id="mycelia">
	</callout>
	</word>
	<word callout_id="rain">rain<callout callout_id="rain" class="below">
		india<br/>
		sulawesi<br/>
		provence<br/>
		iceland<br/>
		greenland<br/>
		columbia<br/>
		boiling pot<br/>
		spilled glass<br/>
		pacific ocean<br/>
		field
	</callout>
	</word>

	<word callout_id="seeds">seeds<callout callout_id="seeds">
	</callout>
	</word>

	<word callout_id="six_months">six months<callout callout_id="six_months">
		of lonely<br/>
		waiting
	</callout>
	</word>

	<word callout_id="sprout">a small green sprout<callout callout_id="sprout">
	</callout>
	</word>

	<word callout_id="just_enough_daylight">just enough daylight<callout callout_id="just_enough_daylight" class="below centered">
		sun night shade night shade night shade night sun night shade night
	</callout>
	</word>

	<word callout_id="warming">warming<callout callout_id="warming" class="centered">
		<div class="highs">64 73 55 52 81 46</div>
	 	<div class="lows"> 32 36 41 51 64 34</div>
	</callout>
	</word>

	<word callout_id="reaching">reaching<callout callout_id="reaching" class="centered">
		"I want to be a star", she said
	</callout>
	</word>

	<word callout_id="pulling">pulling<callout callout_id="pulling">
	</callout>
	</word>

<!-- 	<word callout_id="expansion_of_cells">expansion of cells<callout callout_id="expansion_of_cells">
		elongation tilting photosensitive
	</callout>
	</word>
 -->
	<word callout_id="bud">a bud forms<callout callout_id="bud" class="below centered">
		bulbous and pregnant<br/>
		pressure built from rainwater and lust
	</callout>
	</word>

	<word callout_id="cracks">cracks<callout callout_id="cracks" class="">
		eggshells hiding yolks of color<br/>
		peels apart<br/>
		shows the inside, her insides to the sun
	</callout>
	</word>

	<word callout_id="blossom">blossom<callout callout_id="blossom" class="below" class="centered">
		this is my life<br/>
		that you call color
	</callout>
	</word>

	<word callout_id="full">full<callout callout_id="full" class="centered">
		and I call to the bees,<br/>
		the ones who will make <br/>
		honey from my essence,<br/>
		the drips and ebb of my life
	</callout>
	</word>

	<word callout_id="curl">one small curl<callout callout_id="curl" class="below" class="centered">
		northernmost petal
	</callout>
	</word>

	<word callout_id="two">two<callout callout_id="two" class="centered">
		water has been pulled through
	</callout>
	</word>

	<word callout_id="flutter">a flutter at the base<callout callout_id="flutter" class="below">
		and <br/>
		the well <br/>
		is dry
	</callout>
	</word>

	<word callout_id="crosswind">a cross-wind<callout callout_id="crosswind" >
		giving<br/>
		one,<br/>
		she flings red<br/>
		to the sky
	</callout>
	</word>

	<word callout_id="another">another<callout callout_id="another" class="centered">
		mid-afternoon heat
	</callout>
	</word>

	<word callout_id="gust">a gust
	<callout callout_id="gust">
		she pushes <br/>
		a flash <br/>
		into the air<br/>
		ants stop,<br/>
		gape<br/>
		crickets<br/>
		pause<br/>
		their chirping.
	</callout>
	<callout callout_id="gust" class="below">		
		the sky <br/>
		is on fire.<br/>
		it bleeds.
	</callout>
	</word>

	<word callout_id="one_lone">one lone pistil<callout callout_id="one_lone" class="below">
		alone<br/>
		a thing <br/>
		of lust<br/>
		wrinkled fading<br/>
		still waiting
	</callout>
	</word>

	</word>
	<word callout_id="yellow_green">yellow green sucked away<callout callout_id="yellow_green" class="below">
		she understood inevitable
	</callout>
	</word>

	<word callout_id="fading">fading<callout callout_id="fading">
		<!-- worn down<br/>
		pigment by pigment -->
	</callout>
	</word>

	<word callout_id="kink">a kink<callout callout_id="kink" class="below">
		vein<br/>
		pinched,<br/>
		no more water<br/>
		no more iron<br/>
		no more
	</callout>
	</word>

	<word callout_id="fold">fold<callout callout_id="fold">
	</callout>
	</word>

	<word callout_id="fall">fall<callout callout_id="fall" class="below">
		not even <br/>
		the wind<br/>
<br/>
		just a stem<br/>
		now to weak <br/>
		to hold<br/>
		its star<br/>
		in orbit
	</callout>
	</word>

	<word callout_id="tiny_teeth">tiny teeth<callout callout_id="tiny_teeth">
	</callout>
	</word>

	<word callout_id="bacteria">bacteria<callout callout_id="bacteria" class="centered">
		carried through warm and cold
	</callout>
	</word>

	<word callout_id="mold">mold<callout callout_id="mold">
	</callout>
	</word>

	<word callout_id="mycelium">mycelium<callout callout_id="mycelium" class="below">
		steals away<br/>
		the last essence<br/>
		undertakers and midwives <br/>
		of the underground
	</callout>
	</word>

	<word callout_id="heat">summer heat<callout callout_id="heat">
		eighty eight<br/>
		bakes out<br/>
		the last color<br/>
		the last red<br/>
		now brown
	</callout>
	</word>

	<word id="soil_word_2" callout_id="soil_2">soil<callout callout_id="soil_2">
		a dead worm<br/>
		47 dead flowers<br/>
		327 blades of grass
	</callout>
	</word>

	<word callout_id="mycelia">mycelia<callout callout_id="mycelia">
	</callout>
	</word>
	<word callout_id="rain">rain<callout callout_id="rain" class="below">
		india<br/>
		sulawesi<br/>
		provence<br/>
		iceland<br/>
		greenland<br/>
		columbia<br/>
		boiling pot<br/>
		spilled glass<br/>
		pacific ocean<br/>
		field
	</callout>
	</word>

	<word callout_id="seeds">seeds<callout callout_id="seeds">
	</callout>
	</word>

	<word callout_id="six_months">six months<callout callout_id="six_months" class="">
		of lonely<br/>
		waiting
	</callout>
	</word>

	<word callout_id="sprout">a small green sprout<callout callout_id="sprout">
	</callout>
	</word>

	<word callout_id="just_enough_daylight">just enough daylight<callout callout_id="just_enough_daylight" class="below centered">
		sun night shade night shade night shade night sun night shade night
	</callout>
	</word>


</explosion>
<explosion id="red_explosion">

		<word class="center">red</word>
		<word><heads>bread</heads><tails>hunger</tails></word>
		<word><heads>heat</heads><tails>rattlesnake</tails></word>
		<word><heads>tread</heads><tails>lightly</tails></word>
		<word><heads>break</heads><tails>down</tails></word>
		<word><heads>strawberry</heads><tails>sweet</tails></word>
		<word><heads>said</heads><tails>so</tails></word>
		<word><heads>stop</heads><tails>light</tails></word>
		<word><heads>rage</heads><tails>hurt</tails></word>
		<word><heads>crimson</heads><tails>sight</tails></word>
		<word><heads>read</heads><tails>heard</tails></word>
		<word><heads>blood</heads><tails>falling</tails></word>
		<word><heads>scarlet</heads><tails>letter</tails></word>
		<word><heads>lust</heads><tails>soak</tails></word>
		<word><heads>ruby</heads><tails>ring</tails></word>
		<word><heads>scandal</heads><tails>leather</tails></word>
		<word><heads>love</heads><tails>red</tails></word>
		<word><heads>said</heads><tails>lips</tails></word>
		<word><heads>apple</heads><tails>bite</tails></word>
		<word><heads>led</heads><tails>astray</tails></word>
		<word><heads>fight</heads><tails possible="win,lose"></tails></word>
		<word><heads>meat</heads><tails>muscle</tails></word>

</explosion>
<explosion id="softly_explosion">
	<line class="shh1">Shh...</line>
	<line class="listen1">listen there,<br/>inside the moment</line>
	<line class="footsteps">there are footsteps<br/>of flowers falling<br/>like snowflakes</line>
	<line class="echo">there is an echo of</br>autumn four hundred years<br/>ago, still with us</line>
	<line class="oak">the oak is still here</line>
	<line class="still">still something new</line>
	<line class="shh2">shh...</line>
	<line class="listen2">listen</line>
</explosion>
<explosion id="wilted_explosion">
	<stanza>
	<line>it is like this:</line>
	<line>the water flees back to the sky</line>
	<line>the bees, with luck, steal the pollen</line>
	<line>each slow spin of the planet</line>
	<line>a little less lust</line>
	<line>a little more husk</line>
	<line>folded slowly,</line>
	<line>gently</line>
	<line>back</line>
	<line>into her arms</line>
	</stanza>
</explosion>

{% endblock %}