{% extends "base.html" %}{% load compress %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/fonts.css">
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/site.css">
{% endcompress %}
{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}main_site/js/site.js"></script>
{% endcompress %}
{% endblock %}


{% block content %}

<h1 class="title">encore</h1>

<poem>
	<word class="tulips" id="poem_word_tulips">tulips,</word>
	<word class="red" id="poem_word_red">red</word>
	<br/>
	<word class="softly" id="poem_word_softly">softly</word>
	<word class="wilted" id="poem_word_wilted">wilted</word>
</poem>

<explosion id="tulips_explosion">
	<word callout_id="soil_1">soil</word>
	<callout id="soil_1">
		a dead worm
		47 dead flowers
		327 blades of grass
	</callout>
	<word callout_id="rain">rain</word>
	<callout id="rain">
		india
		sulawesi
		provence
		iceland
		greenland
		columbia
		boiling pot
		spilled glass
		pacific ocean
		field
	</callout>
	<word callout_id="mycelia">mycelia</word>
	<callout id="mycelia">
	</callout>

	<word callout_id="seeds">seeds</word>
	<callout id="seeds">
	</callout>

	<word callout_id="six_months">six months</word>
	<callout id="six_months">
		of lonely
		waiting
	</callout>

	<word callout_id="sprout">a small green sprout</word>
	<callout id="sprout">
	</callout>

	<word callout_id="just_enough_daylight">just enough daylight</word>
	<callout id="just_enough_daylight">
		sun night shade night shade night shade night sun night shade night
	</callout>

	<word callout_id="warming">warming</word>
	<callout id="warming">
		<span class="highs">64 73 55 52 81 46</span>
	 	<span class="lows"> 32 36 41 51 64 34</span>
	</callout>

	<word callout_id="reaching">reaching</word>
	<callout id="reaching">
		"I want to be a star", she said
	</callout>

	<word callout_id="pulling">pulling</word>
	<callout id="pulling">
	</callout>

	<word callout_id="expansion_of_cells">expansion of cells</word>
	<callout id="expansion_of_cells">
		elongation tilting photosensitive
	</callout>

	<word callout_id="bud">a bud forms</word>
	<callout id="bud">
		bulbous, pregnant, pressure built from rainwater and lust
	</callout>

	<word callout_id="cracks">cracks</word>
	<callout id="cracks">
		eggshells hiding yolks of color
		peels apart
		shows the inside, her insides to the sun
	</callout>

	<word callout_id="blossom">blossom</word>
	<callout id="blossom">
		this is my life
		that you call color
	</callout>

	<word callout_id="full">full</word>
	<callout id="full">
		and I call to the bees,
		the ones who will make 
		honey from my essence,
		the drips and ebb of my life
	</callout>

	<word callout_id="curl">one small curl</word>
	<callout id="curl">
		northernmost petal
	</callout>

	<word callout_id="two">two</word>
	<callout id="two">
		water has been pulled through
	</callout>

	<word callout_id="flutter">a flutter at the base</word>
	<callout id="flutter">
		and 
		the well 
		is dry
	</callout>

	<word callout_id="crosswind">a cross-wind</word>
	<callout id="crosswind">
		giving
		one,
		she flings red
		to the sky
	</callout>

	<word callout_id="another">another</word>
	<callout id="another">
		mid-afternoon heat
	</callout>

	<word callout_id="gust">a gust</word>
	<callout id="gust">
		she pushes 
		a flash 
		into the air
		ants stop,
		gape
		crickets
		pause
		their chirping.

		the sky is on
		fire, it bleeds.
	</callout>

	<word callout_id="one_lone">one lone</word>
	<callout id="one_lone">
		alone
		a thing 
		of lust
		wrinkled fading
		still waiting
	</callout>

	<word callout_id="pistil">pistil</word>
	<callout id="pistil">
		
	</callout>
	<word callout_id="yellow_green">yellow green sucked away</word>
	<callout id="yellow_green">
		she understood inevitable
	</callout>

	<word callout_id="fading">fading</word>
	<callout id="fading">
		worn down
		pigment by pigment
	</callout>

	<word callout_id="kink">a kink</word>
	<callout id="kink">
		main vein
		pinched,
		no more water
		no more iron
		no more
	</callout>

	<word callout_id="fold">fold</word>
	<callout id="fold">
	</callout>

	<word callout_id="fall">fall</word>
	<callout id="fall">
		not even 
		the wind

		just a stem
		now to weak 
		to hold
		its prize
	</callout>

	<word callout_id="tiny_teeth">tinyteeth</word>
	<callout id="tiny_teeth">
	</callout>

	<word callout_id="bacteria">bacteria</word>
	<callout id="bacteria">
		carried through warm and cold
	</callout>

	<word callout_id="mold">mold</word>
	<callout id="mold">
	</callout>

	<word callout_id="mycelium">mycelium</word>
	<callout id="mycelium">
		steals away
		the last essence
		undertakers and midwives 
		of the underground
	</callout>

	<word callout_id="heat">summer heat</word>
	<callout id="heat">
		eighty eight
		bakes out
		the last color
		the last red
		now brown
	</callout>

	<word callout_id="soil">soil</word>

</explosion>
<explosion id="red_explosion">

		<word class="center">red</word>
		<word><heads>bread</heads><tails>hunger</tails></word>
		<word><heads>heat</heads><tails>rattlesnake</tails></word>
		<word><heads>tread</heads><tails>lightly</tails></word>
		<word><heads>break</heads><tails>down</tails></word>
		<word><heads>strawberry</heads><tails>sweet</tails></word>
		<word><heads>said</heads><tails>so</tails></word>
		<word><heads>stop</heads><tails>light</tails></word>
		<word><heads>rage</heads><tails>hurt</tails></word>
		<word><heads>crimson</heads><tails>sight</tails></word>
		<word><heads>read</heads><tails>heard</tails></word>
		<word><heads>blood</heads><tails>falling</tails></word>
		<word><heads>scarlet</heads><tails>letter</tails></word>
		<word><heads>lust</heads><tails>soak</tails></word>
		<word><heads>ruby</heads><tails>ring</tails></word>
		<word><heads>scandal</heads><tails>leather</tails></word>
		<word><heads>love</heads><tails>red</tails></word>
		<word><heads>said</heads><tails>lips</tails></word>
		<word><heads>apple</heads><tails>bite</tails></word>
		<word><heads>led</heads><tails>astray</tails></word>
		<word><heads>fight</heads><tails possible="win,lose"></tails></word>
		<word><heads>meat</heads><tails>muscle</tails></word>

</explosion>
<explosion id="softly_explosion">
	<line>Shh...</line>
	<line>listen there,</line>
	<line>inside the moment</line>

	<line>there are footsteps</line>
	<line>of flowers falling</line>
	<line>like snowflakes</line>

	<line>there is an echo of</line>
	<line>autumn four hundred years</line>
	<line>ago, still with us</line>

	<line>the oak is still here</line>

	<line>still something new.</line>

	<line>shh...</line>

	<line>listen</line>
</explosion>
<explosion id="wilted_explosion">
	<line>it is like this:</line>
	<line>the water flees back to the sky</line>
	<line>the bees, with luck, steal the pollen</line>
	<line>each slow spin of the planet</line>
	<line>a little less lust</line>
	<line>a little more husk</line>
	<line>folded slowly,</line>
	<line>gently</line>
	<line>back into her arms</line>
</explosion>

{% endblock %}